$font-primary: "Spline Sans", sans-serif;

$color-primary: #f9f506;
$color-manutd-red: #da291c;
$color-bg-light: #ffffff;
$color-bg-dark: #121210;
$color-border-light: #f3f4f6; // gray-100
$color-text-main: #181811;
$color-text-muted: #6b7280; // gray-500
