@import "../assets/styles/mixins";
@import "../assets/styles/_variables";

.pageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: $color-bg-light;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}
