@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.section {
  width: 100%;
  max-width: 1400px;
  padding: 64px 16px;

  @include sm-up {
    padding: 96px 40px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;

  @include lg-up {
    flex-direction: row;
  }
}

.leftContent {
  flex: 1;

  @include lg-up {
    position: sticky;
    top: 96px;
  }
}

.label {
  display: block;
  color: $color-manutd-red;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  margin-bottom: 16px;
}

.title {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.025em;
  margin-bottom: 24px;
  color: $color-text-main;

  @include sm-up {
    font-size: 3rem;
  }
}

.titleHighlight {
  //color: #9ca3af;
  color: $color-manutd-red;
}

.description {
  color: #4b5563;
  font-size: 1.125rem;
  line-height: 1.625;
  margin-bottom: 32px;
}

.milestoneList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.milestone {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.milestoneIcon {
  margin-top: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba($color-primary, 0.2);
  color: #ca8a04;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  span {
    font-size: 14px;
    font-weight: 700;
  }
}

.milestoneTitle {
  font-weight: 700;
  font-size: 1.125rem;
  color: $color-text-main;
}

.milestoneDesc {
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 4px;
}

.readMoreBtn {
  margin-top: 40px;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  background: none;
  border-bottom: 2px solid $color-text-main;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.2s;
  color: $color-text-main;

  &:hover {
    color: $color-manutd-red;
    border-color: $color-manutd-red;
  }
}

.rightContent {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @include sm-up {
    grid-template-columns: 1fr 1fr;
  }
}
